
/* apenas em um elemento*/
#header1 {
	background-color: #51a317;
	color: black;
	padding: 30px;
	text-align: center;
}

/* pode ser usado em varios*/
.boxbox {
	margin: 3;
	background: green;
	text-align: center;
}


body {
	margin: 3;
	background: #80eb34;
}


